/*Section2 - Sobre mim*/
.about-me-section {
    background-color: #333;
    text-align: center;
    color: #fff; 
    padding: 30px;

    min-height: 100vh; 
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.about-me-section h1 {
    font-size: 2rem;
}

.about-me-section h1 span{
    color: #00f4ff;
}

.profile-picture {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.profile-picture img{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border: .2rem solid #00f4ff;
    object-fit: cover;
    cursor: pointer;
    z-index: 2;
    transition: all 1s ease;
}

.profile-picture img:hover{
    transform: scale(1.05);
}



.profile-picture .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-left: .2rem solid #333;
    border-right: .2rem solid #333;
    border-top: .2rem solid #00f4ff;
    border-bottom: .2rem solid #00f4ff;
    animation: aboutSpiner 5s linear infinite;
}

@keyframes aboutSpiner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.about-me-section p {
    font-size: 1rem;
    max-width: 900px;
}

.btn-box{
    position: relative;
    display: flex;
    justify-content: center;
    width: 50%;
    height: 5rem;
    gap: 30px;
}

.btn-box .btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 70px;
    background: #00f4ff;
    border: .2rem solid #00f4ff;
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: #333;
    z-index: 1;
    overflow: hidden;
    text-decoration: none;
    transition: all .5s;
}

.btn-box .btn:hover{
    color: #00f4ff;
}

.btn-box .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #333;
    z-index: -1;
    transition: all 0.5s;
}

.btn-box .btn:hover::before{
    width: 100%;

}

#secaoOculta {
    display: none; /* Começa oculto */
    background-color: #222; /* Cor de fundo neon */
    padding: 20px; /* Espaçamento interno */
    border: solid 3px #00f4ff;
    border-radius: 5px; /* Cantos arredondados */
    margin-top: 20px; /* Espaçamento superior */
    box-shadow: 0px 0px 20px #00f4ff; /* Sombra neon */
    color: #00f4ff; /* Cor do texto */
}

#secaoOculta p {
    font-size: 16px; /* Tamanho da fonte */
    font-weight: 400;
    line-height: 1.5; /* Espaçamento entre linhas */
    background-color: #333;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 5px;
}

#secaoOculta h1{
    color: white;
}
