/*footer - Contatos*/
.footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.footer-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: 50%;
}

.footer-social{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: 50%;
}


.social-icon{
    text-decoration: none;
    color: #fff;
    font-size: 3rem; 
    margin: 0 10px;
    transition: all 1s; 
    border: solid 1px white;
    width: 70px;
    height: 70px;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
}


.contact-icon {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    margin: 0 10px;
    transition: all 1s; 
}

.social-icon:hover {
    color: #00f4ff;
    transition: all 300ms; 
    border: solid 1px #00f4ff;
    transform: scale(1.2);
}

.contact-icon:hover {
    color: #00f4ff;
    transition: all 300ms;
    border-bottom: solid 1px #00f4ff; 
}

.footer-social .contact-icon:hover {
    background-color: rgba(0, 244, 255, 0.1); /* Adiciona um efeito de preenchimento */
}

.footer-profile-picture {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-profile-picture a{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: .2rem solid #00f4ff;
    object-fit: cover;
    z-index: 2;
}

.footer-profile-picture .footer-circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border-left: .2rem solid #222;
    border-right: .2rem solid #222;
    border-top: .2rem solid #00f4ff;
    border-bottom: .2rem solid #00f4ff;
    animation: aboutSpiner 5s linear infinite;
}