* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 700;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #333;
}

#container {
    width: 300px;
    height: 2rem;
    background-color: deepskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}